{% trans_default_domain 'TadckaSitemapBundle' %}

<div class="pull-right">
    <div class="btn-group tabs-button-group">
        <a id="tadcka-sitemap-node-add" href="{{ url('tadcka_tree_create_node', {id: tree_node.id}) }}"class="btn btn-outline btn-primary">
            {{ 'sitemap.add_subpage'|trans }}
        </a>
        {% if tree_node.parent is not empty %}
            <a class="btn btn-outline btn-primary">{{ 'sitemap.publish'|trans }}</a>
            <a class="btn btn-outline btn-primary">{{ 'sitemap.preview'|trans }}</a>
            <a class="btn btn-outline btn-primary">{{ 'sitemap.delete'|trans }}</a>
        {% endif %}
    </div>
</div>
<div class="clearfix"><!-- --></div>
<ul class="nav nav-tabs" id="sitemap-edit-content" role="tablist">
    {% for tab in tabs %}
        <li{% if loop.index == 1 %} class="active"{% endif %}><a href="#{{ tab.slug }}" data-href="{{ tab.url }}" id="sitemap-edit-tab-header" role="tab" data-toggle="tab">{{ tab.name }}</a></li>
    {% endfor %}
</ul>

{% if tabs is not empty %}
    <div class="tab-content" id="sitemap-edit-tab-content">
        {% for tab in tabs %}
            <div class="tab-pane fade{% if loop.index == 1 %} in active{% endif %}" id="{{ tab.slug }}"></div>
        {% endfor %}
    </div>
{% endif %}